  <div class = "single-photo" >
    <h1 class = "title-name" >{{title}}</h1>

    <img class = "image" id="{{id}}" src= "{{link}} "alt="{{link}}" ></img>
    <p class ="author" >{{author}}</p>
    <p class ="description" >{{description}}</p>

  </div>