<link rel="stylesheet"  href="/css/styles.css">
<div id="main-image-container">
  <img id="main-image" src="http://www.goh2otours.com/wp-content/uploads/2016/06/Alaska.jpg" alt="">


  <div class = "gallery">
    {{#each photos}}
      <div class="all-photos">
        <img class="all-images" id="{{id}}" src="{{link}}">
        <h1 class="title">{{title}}</h1>
        <p class="author" >Author: {{author}}</p>
        <p class="description" >{{description}}</p>
        <p type="hidden" class="id">{{id}}</p>
      </div>
    {{/each}}
  </div>

</div>

